<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%= @lang %>">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../style/epub.css" type="text/css" />
  <title><%= @booktitle %></title>
</head>
<body class="cover" epub:type="cover">
	<% if @cover then %><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="100%" height="100%" viewBox="0 0 <%= @cover_image[:width] %> <%= @cover_image[:height] %>">
        <title><%= @booktitle %></title>
        <desc><%= @aut %> 著</desc>
        <image width="<%= @cover_image[:width] %>" height="<%= @cover_image[:height] %>" xlink:href="../images/<%= @cover_image[:file] %>"/>
     </svg><% else %>
    <h1 epub:type="title"><%= @booktitle %></h1>
    <p class="author"><%= @aut %></p>
    <% end %>
</body>
</html>